ul {
    list-style-type: none;
    padding: 0;
}
input[type=text] {
    max-width: 120px;
}
h5 {
    border-bottom: 2px solid #1673ff;
}
.hidden {
    display: none;
}
.center {
	margin: 0 auto;
	width: 80%;
    max-width: 850px;
	}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    align-items: start;
    height: auto;
}
.left {
    min-width: 230px;
}
.left h4 {
    padding-left: 22px;
}
.column {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    min-width: 155px;
}
.middle, .middle-2 {

}
.right {

}
.border3 {
    border: 1px solid #1673ff;
    border-top: 6px solid #1673ff;
}

