
/**************************     MAIN ELEMENT STYLING    **************************/
body {
    font-family: verdana, sans-serif;
    font-size: 14px;
}
h1 {
    text-align: center;
    font-size: 26px;
}

section ul {
    list-style-type: none;
    flex-basis: 300px;
    margin: 15px auto;
    padding: 6px;
    //border-bottom: 6px solid #555;
    //border-right: 4px solid #757575;
}
/******************************     ID STYLING    ******************************/
#accordion h3 {
    background-color: #ddd;
    border-bottom: 2px solid #ddd;
    font-weight: 600;
}
#accordion h3:hover {
    cursor: pointer;
    border-bottom: 2px solid #000;
}

/*****************************     CLASS STYLING    ***************************/
.center {
	margin: 0 auto;
}
.main-container {
	width: 915px;
	border: 2px solid #000;
    font-family: sans-serif;
}

/*****************************     GET JIGGY W IT    *************************/
li {
    justify-content: flex-end;
    padding: 1px 0px 1px 0px;
}

section li {
    display: flex;
}
section li label {
    flex-shrink: 0;
    margin: 2px 0px;
}
section li input, section li select {
    flex-shrink: 2;
}
section div:first-child {
    display: flex;
    flex-wrap: wrap; /* when broswer is small it wraps, no need for media query here */
    width: 100%;
    justify-content: space-around;
}

.hidden {
    display: none;
}
.leftpad50 {
    padding-left: 50px;
}








/*****************************     SCREENS UNDER 414px    ********************/
@media screen and (max-width: 475px) {
    
    .main-container {
        width: auto;
        min-width: 335px;
        border: 2px solid #000;
    }
    
    section div:first-child {
        margin: 0 auto;
        width: 100%;
    }
    .jobinfo ul, .employees ul, .equipment ul, .trucks ul, .report ul {
        padding: 6px;
        border-bottom: 6px solid #555;
        border-right: 4px solid #777;
    }
    .report label {
        flex-shrink: 1;
    }
    textarea {
    flex-grow: 1;
}
    

}