@media print {
	.print-hide {
		display: none !important;
	}
	div {
		page-break-inside: avoid;
	}
}
.center {
	margin: 0 auto;
    width: 80%;
}
.gridcontainer {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10pt;
	display: grid;
	grid-template-columns: repeat(8, 1fr); 		/* repeat 8 columnms, all with 1 equal fraction of width, ie: (8, 1fr) */
	grid-template-rows: 95px 50px auto auto auto auto auto auto auto auto auto auto;

	width: 85%;
    max-width: 900px;
	height: 500px;
	min-width: 560px;
	margin-bottom: 100px;
}
.important {
	background-color: #f9ff66;
	font-weight: 700;
	font-size: 12pt;
	border: 1px solid #000;
	padding: 3px 10px 3px 10px;
}
.theday {
	border-bottom: 1px solid #000;
}
.thedate {
	font-weight: 600;
	font-size: 12pt;
	padding: 7px 0px 0px 8px;
}
.blackborder {
	border: 1px solid #000;
}
.actualinput {
	text-align: center;
}
.timepicker {

}
.leftmargin10 {
	margin-left: 10px;
}
.toppadding2 {
	padding-top: 2px;
}
.bottompadding2 {
	padding-bottom: 2px;
}
.topgreyborder {
	border-top: 1px solid #555;
}
.job1 {
	/* background-color: #efefef; */
}
.job2 {
	background-color: #e0f6ff;
}
.job3 {
	background-color: #e3ffdb;
}
.hourstotaled {
	font-weight: 700;
	padding: 2px 0px;
	/*background-color: #dedede;*/
}
.hidden {
	 display: none;
}
.approved {
    font-size: 1.5em;
    font-weight: 550;
}
.approved uhh {
    font-size: 2em;
}


/****************************************************************************************************************************************/
/*****			ROW 1, Select week for TimeSheet -- Starts on r1c4 and goes to r2c8. So simple :)									*****/
/****************************************************************************************************************************************/
.r1c1 {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
.r1c2 {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}
.header {
	grid-column: 3 / span 6;
	grid-row: 1 / 2;
	padding-top: 5px;
	justify-self: end;
	text-align: right;
	padding-top: 15px;
}
.header p {
	padding: 0;
	margin: 0;
	padding-top: 3px;
}
/****************************************************************************************************************************************/
/*****			ROW 2, DAYS AND DATES																								*****/
/****************************************************************************************************************************************/
.r2c1 {
	grid-column: 1 / 2;							/* This means this cell starts at column line 1 and ends at column line 2. */
	grid-row: 2 / 3;							/* This means the cell will also start at the row 2 line and end at the row 3 line. */
	align-self: end;
	justify-self: center;
    /* background: url("bfplogo.png"); - NVM, foreground images print by default */
	}
.r2c2 {											/* Pretty self explanatary huh? */
	grid-column: 2 / 3;							/* But theres gonna be a fuck ton of these classes... */
	grid-row: 2 / 3;							/* So is this really the best way to do this......? */
}
.r2c3 {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}
.r2c4 {
	grid-column: 4 / 5;
	grid-row: 2 / 3;
}
.r2c5 {
	grid-column: 5 / 6;
	grid-row: 2 / 3;
}
.r2c6 {
	grid-column: 6 / 7;
	grid-row: 2 / 3;
}
.r2c7 {
	grid-column: 7 / 8;
	grid-row: 2 / 3;
}
.r2c8 {
	grid-column: 8 / 9;
	grid-row: 2 / 3;
}
.leftblackborder {
	border-left: 1px solid #000;
}
.rightblackborder {
	border-right: 1px solid #000;
}

/****************************************************************************************************************************************/
/*****			ROW 3, Employee 1																									*****/
/****************************************************************************************************************************************/
.r3c1 {
	grid-column: 1 / 2;
	grid-row: 3/ 4;
	padding-top: 25px;
}
.r3c2 {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}
.r3c3 {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
}
.r3c4 {
	grid-column: 4 / 5;
	grid-row: 3 / 4;
}
.r3c5 {
	grid-column: 5 / 6;
	grid-row: 3 / 4;
}
.r3c6 {
	grid-column: 6 / 7;
	grid-row: 3 / 4;
}
.r3c7 {
	grid-column: 7 / 8;
	grid-row: 3 / 4;
}
.r3c8 {
	grid-column: 8 / 9;
	grid-row: 3 / 4;
}

/****************************************************************************************************************************************/
/*****			ROW 4, Employee 2																									*****/
/****************************************************************************************************************************************/
.r4c1 {
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	padding-top: 25px;
}
.r4c2 {
	grid-column: 2 / 3;
	grid-row: 4 / 5;
}
.r4c3 {
	grid-column: 3 / 4;
	grid-row: 4 / 5;
}
.r4c4 {
	grid-column: 4 / 5;
	grid-row: 4 / 5;
}
.r4c5 {
	grid-column: 5 / 6;
	grid-row: 4 / 5;
}
.r4c6 {
	grid-column: 6 / 7;
	grid-row: 4 / 5;
}
.r4c7 {
	grid-column: 7 / 8;
	grid-row: 4 / 5;
}
.r4c8 {
	grid-column: 8 / 9;
	grid-row: 4 / 5;
}
/****************************************************************************************************************************************/
/*****			ROW 5, Employee 3																									*****/
/****************************************************************************************************************************************/
.r5c1 {
	grid-column: 1 / 2;
	grid-row: 5 / 6;
	padding-top: 25px;
}
.r5c2 {
	grid-column: 2 / 3;
	grid-row: 5 / 6;
}
.r5c3 {
	grid-column: 3 / 4;
	grid-row: 5 / 6;
}
.r5c4 {
	grid-column: 4 / 5;
	grid-row: 5 / 6;
}
.r5c5 {
	grid-column: 5 / 6;
	grid-row: 5 / 6;
}
.r5c6 {
	grid-column: 6 / 7;
	grid-row: 5 / 6;
}
.r5c7 {
	grid-column: 7 / 8;
	grid-row: 5 / 6;
}
.r5c8 {
	grid-column: 8 / 9;
	grid-row: 5 / 6;
}
/****************************************************************************************************************************************/
/*****			ROW 6, Employee 4																									*****/
/****************************************************************************************************************************************/
.r6c1 {
	grid-column: 1 / 2;
	grid-row: 6 / 7;
	padding-top: 25px;
}
.r6c2 {
	grid-column: 2 / 3;
	grid-row: 6 / 7;
}
.r6c3 {
	grid-column: 3 / 4;
	grid-row: 6 / 7;
}
.r6c4 {
	grid-column: 4 / 5;
	grid-row: 6 / 7;
}
.r6c5 {
	grid-column: 5 / 6;
	grid-row: 6 / 7;
}
.r6c6 {
	grid-column: 6 / 7;
	grid-row: 6 / 7;
}
.r6c7 {
	grid-column: 7 / 8;
	grid-row: 6 / 7;
}
.r6c8 {
	grid-column: 8 / 9;
	grid-row: 6 / 7;
}
/****************************************************************************************************************************************/
/*****			ROW 7, Employee 5																									*****/
/****************************************************************************************************************************************/
.r7c1 {
	grid-column: 1 / 2;
	grid-row: 7 / 8;
	padding-top: 25px;
}
.r7c2 {
	grid-column: 2 / 3;
	grid-row: 7 / 8;
}
.r7c3 {
	grid-column: 3 / 4;
	grid-row: 7 / 8;
}
.r7c4 {
	grid-column: 4 / 5;
	grid-row: 7 / 8;
}
.r7c5 {
	grid-column: 5 / 6;
	grid-row: 7 / 8;
}
.r7c6 {
	grid-column: 6 / 7;
	grid-row: 7 / 8;
}
.r7c7 {
	grid-column: 7 / 8;
	grid-row: 7 / 8;
}
.r7c8 {
	grid-column: 8 / 9;
	grid-row: 7 / 8;
}
/****************************************************************************************************************************************/
/*****			ROW 8, Employee 6																									*****/
/****************************************************************************************************************************************/
.r8c1 {
	grid-column: 1 / 2;
	grid-row: 8 / 9;
	padding-top: 25px;
}
.r8c2 {
	grid-column: 2 / 3;
	grid-row: 8 / 9;
}
.r8c3 {
	grid-column: 3 / 4;
	grid-row: 8 / 9;
}
.r8c4 {
	grid-column: 4 / 5;
	grid-row: 8 / 9;
}
.r8c5 {
	grid-column: 5 / 6;
	grid-row: 8 / 9;
}
.r8c6 {
	grid-column: 6 / 7;
	grid-row: 8 / 9;
}
.r8c7 {
	grid-column: 7 / 8;
	grid-row: 8 / 9;
}
.r8c8 {
	grid-column: 8 / 9;
	grid-row: 8 / 9;
}
/****************************************************************************************************************************************/
/*****			ROW 9, Employee 7																									*****/
/****************************************************************************************************************************************/
.r9c1 {
	grid-column: 1 / 2;
	grid-row: 9 / 10;
	padding-top: 25px;
}
.r9c2 {
	grid-column: 2 / 3;
	grid-row: 9 / 10;
}
.r9c3 {
	grid-column: 3 / 4;
	grid-row: 9 / 10;
}
.r9c4 {
	grid-column: 4 / 5;
	grid-row: 9 / 10;
}
.r9c5 {
	grid-column: 5 / 6;
	grid-row: 9 / 10;
}
.r9c6 {
	grid-column: 6 / 7;
	grid-row: 9 / 10;
}
.r9c7 {
	grid-column: 7 / 8;
	grid-row: 9 / 10;
}
.r9c8 {
	grid-column: 8 / 9;
	grid-row: 9 / 10;
}
/****************************************************************************************************************************************/
/*****			ROW 10, Employee 8																									*****/
/****************************************************************************************************************************************/
.r10c1 {
	grid-column: 1 / 2;
	grid-row: 10 / 11;
	padding-top: 25px;
}
.r10c2 {
	grid-column: 2 / 3;
	grid-row: 10 / 11;
}
.r10c3 {
	grid-column: 3 / 4;
	grid-row: 10 / 11;
}
.r10c4 {
	grid-column: 4 / 5;
	grid-row: 10 / 11;
}
.r10c5 {
	grid-column: 5 / 6;
	grid-row: 10 / 11;
}
.r10c6 {
	grid-column: 6 / 7;
	grid-row: 10 / 11;
}
.r10c7 {
	grid-column: 7 / 8;
	grid-row: 10 / 11;
}
.r10c8 {
	grid-column: 8 / 9;
	grid-row: 10 / 11;
}
/****************************************************************************************************************************************/
/*****			ROW 11, Employee 9																									*****/
/****************************************************************************************************************************************/
.r11c1 {
	grid-column: 1 / 2;
	grid-row: 11 / 12;
	padding-top: 25px;
}
.r11c2 {
	grid-column: 2 / 3;
	grid-row: 11 / 12;
}
.r11c3 {
	grid-column: 3 / 4;
	grid-row: 11 / 12;
}
.r11c4 {
	grid-column: 4 / 5;
	grid-row: 11 / 12;
}
.r11c5 {
	grid-column: 5 / 6;
	grid-row: 11 / 12;
}
.r11c6 {
	grid-column: 6 / 7;
	grid-row: 11 / 12;
}
.r11c7 {
	grid-column: 7 / 8;
	grid-row: 11 / 12;
}
.r11c8 {
	grid-column: 8 / 9;
	grid-row: 11 / 12;
}
/****************************************************************************************************************************************/
/*****			ROW 12, Employee 10																									*****/
/****************************************************************************************************************************************/
.r12c1 {
	grid-column: 1 / 2;
	grid-row: 12 / 13;
	padding-top: 25px;
}
.r12c2 {
	grid-column: 2 / 3;
	grid-row: 12 / 13;
}
.r12c3 {
	grid-column: 3 / 4;
	grid-row: 12 / 13;
}
.r12c4 {
	grid-column: 4 / 5;
	grid-row: 12 / 13;
}
.r12c5 {
	grid-column: 5 / 6;
	grid-row: 12 / 13;
}
.r12c6 {
	grid-column: 6 / 7;
	grid-row: 12 / 13;
}
.r12c7 {
	grid-column: 7 / 8;
	grid-row: 12 / 13;
}
.r12c8 {
	grid-column: 8 / 9;
	grid-row: 12 / 13;
}
/****************************************************************************************************************************************/
/*****			ROW 13, Employee 11																									*****/
/****************************************************************************************************************************************/
.r13c1 {
	grid-column: 1 / 2;
	grid-row: 13 / 14;
	padding-top: 25px;
}
.r13c2 {
	grid-column: 2 / 3;
	grid-row: 13 / 14;
}
.r13c3 {
	grid-column: 3 / 4;
	grid-row: 13 / 14;
}
.r13c4 {
	grid-column: 4 / 5;
	grid-row: 13 / 14;
}
.r13c5 {
	grid-column: 5 / 6;
	grid-row: 13 / 14;
}
.r13c6 {
	grid-column: 6 / 7;
	grid-row: 13 / 14;
}
.r13c7 {
	grid-column: 7 / 8;
	grid-row: 13 / 14;
}
.r13c8 {
	grid-column: 8 / 9;
	grid-row: 13 / 14;
}
/****************************************************************************************************************************************/
/*****			ROW 14, Employee 12																									*****/
/****************************************************************************************************************************************/
.r14c1 {
	grid-column: 1 / 2;
	grid-row: 14 / 15;
	padding-top: 25px;
}
.r14c2 {
	grid-column: 2 / 3;
	grid-row: 14 / 15;
}
.r14c3 {
	grid-column: 3 / 4;
	grid-row: 14 / 15;
}
.r14c4 {
	grid-column: 4 / 5;
	grid-row: 14 / 15;
}
.r14c5 {
	grid-column: 5 / 6;
	grid-row: 14 / 15;
}
.r14c6 {
	grid-column: 6 / 7;
	grid-row: 14 / 15;
}
.r14c7 {
	grid-column: 7 / 8;
	grid-row: 14 / 15;
}
.r14c8 {
	grid-column: 8 / 9;
	grid-row: 14 / 15;
}
/****************************************************************************************************************************************/
/*****			ROW 15, Employee 13																									*****/
/****************************************************************************************************************************************/
.r15c1 {
	grid-column: 1 / 2;
	grid-row: 15 / 16;
	padding-top: 25px;
}
.r15c2 {
	grid-column: 2 / 3;
	grid-row: 15 / 16;
}
.r15c3 {
	grid-column: 3 / 4;
	grid-row: 15 / 16;
}
.r15c4 {
	grid-column: 4 / 5;
	grid-row: 15 / 16;
}
.r15c5 {
	grid-column: 5 / 6;
	grid-row: 15 / 16;
}
.r15c6 {
	grid-column: 6 / 7;
	grid-row: 15 / 16;
}
.r15c7 {
	grid-column: 7 / 8;
	grid-row: 15 / 16;
}
.r15c8 {
	grid-column: 8 / 9;
	grid-row: 15 / 16;
}
/****************************************************************************************************************************************/
/*****			ROW 16, Employee 14																									*****/
/****************************************************************************************************************************************/
.r16c1 {
	grid-column: 1 / 2;
	grid-row: 16 / 17;
	padding-top: 25px;
}
.r16c2 {
	grid-column: 2 / 3;
	grid-row: 16 / 17;
}
.r16c3 {
	grid-column: 3 / 4;
	grid-row: 16 / 17;
}
.r16c4 {
	grid-column: 4 / 5;
	grid-row: 16 / 17;
}
.r16c5 {
	grid-column: 5 / 6;
	grid-row: 16 / 17;
}
.r16c6 {
	grid-column: 6 / 7;
	grid-row: 16 / 17;
}
.r16c7 {
	grid-column: 7 / 8;
	grid-row: 16 / 17;
}
.r16c8 {
	grid-column: 8 / 9;
	grid-row: 16 / 17;
}
/****************************************************************************************************************************************/
/*****			ROW 17, Employee 15																									*****/
/****************************************************************************************************************************************/
.r17c1 {
	grid-column: 1 / 2;
	grid-row: 17 / 18;
	padding-top: 25px;
}
.r17c2 {
	grid-column: 2 / 3;
	grid-row: 17 / 18;
}
.r17c3 {
	grid-column: 3 / 4;
	grid-row: 17 / 18;
}
.r17c4 {
	grid-column: 4 / 5;
	grid-row: 17 / 18;
}
.r17c5 {
	grid-column: 5 / 6;
	grid-row: 17 / 18;
}
.r17c6 {
	grid-column: 6 / 7;
	grid-row: 17 / 18;
}
.r17c7 {
	grid-column: 7 / 8;
	grid-row: 17 / 18;
}
.r17c8 {
	grid-column: 8 / 9;
	grid-row: 17 / 18;
}
/****************************************************************************************************************************************/
/*****			ROW 18, Employee 16																									*****/
/****************************************************************************************************************************************/
.r18c1 {
	grid-column: 1 / 2;
	grid-row: 18 / 19;
	padding-top: 25px;
}
.r18c2 {
	grid-column: 2 / 3;
	grid-row: 18 / 19;
}
.r18c3 {
	grid-column: 3 / 4;
	grid-row: 18 / 19;
}
.r18c4 {
	grid-column: 4 / 5;
	grid-row: 18 / 19;
}
.r18c5 {
	grid-column: 5 / 6;
	grid-row: 18 / 19;
}
.r18c6 {
	grid-column: 6 / 7;
	grid-row: 18 / 19;
}
.r18c7 {
	grid-column: 7 / 8;
	grid-row: 18 / 19;
}
.r18c8 {
	grid-column: 8 / 9;
	grid-row: 18 / 19;
}
/****************************************************************************************************************************************/
/*****			ROW 19, Employee 17																									*****/
/****************************************************************************************************************************************/
.r19c1 {
	grid-column: 1 / 2;
	grid-row: 19 / 20;
	padding-top: 25px;
}
.r19c2 {
	grid-column: 2 / 3;
	grid-row: 19 / 20;
}
.r19c3 {
	grid-column: 3 / 4;
	grid-row: 19 / 20;
}
.r19c4 {
	grid-column: 4 / 5;
	grid-row: 19 / 20;
}
.r19c5 {
	grid-column: 5 / 6;
	grid-row: 19 / 20;
}
.r19c6 {
	grid-column: 6 / 7;
	grid-row: 19 / 20;
}
.r19c7 {
	grid-column: 7 / 8;
	grid-row: 19 / 20;
}
.r19c8 {
	grid-column: 8 / 9;
	grid-row: 19 / 20;
}
/****************************************************************************************************************************************/
/*****			ROW 20, Employee 18																									*****/
/****************************************************************************************************************************************/
.r20c1 {
	grid-column: 1 / 2;
	grid-row: 20 / 21;
	padding-top: 25px;
}
.r20c2 {
	grid-column: 2 / 3;
	grid-row: 20 / 21;
}
.r20c3 {
	grid-column: 3 / 4;
	grid-row: 20 / 21;
}
.r20c4 {
	grid-column: 4 / 5;
	grid-row: 20 / 21;
}
.r20c5 {
	grid-column: 5 / 6;
	grid-row: 20 / 21;
}
.r20c6 {
	grid-column: 6 / 7;
	grid-row: 20 / 21;
}
.r20c7 {
	grid-column: 7 / 8;
	grid-row: 20 / 21;
}
.r20c8 {
	grid-column: 8 / 9;
	grid-row: 20 / 21;
}
/****************************************************************************************************************************************/
/*****			ROW 21, Employee 19																									*****/
/****************************************************************************************************************************************/
.r21c1 {
	grid-column: 1 / 2;
	grid-row: 21 / 22;
	padding-top: 25px;
}
.r21c2 {
	grid-column: 2 / 3;
	grid-row: 21 / 22;
}
.r21c3 {
	grid-column: 3 / 4;
	grid-row: 21 / 22;
}
.r21c4 {
	grid-column: 4 / 5;
	grid-row: 21 / 22;
}
.r21c5 {
	grid-column: 5 / 6;
	grid-row: 21 / 22;
}
.r21c6 {
	grid-column: 6 / 7;
	grid-row: 21 / 22;
}
.r21c7 {
	grid-column: 7 / 8;
	grid-row: 21 / 22;
}
.r21c8 {
	grid-column: 8 / 9;
	grid-row: 21 / 22;
}
/****************************************************************************************************************************************/
/*****			ROW 22, Employee 20																									*****/
/****************************************************************************************************************************************/
.r22c1 {
	grid-column: 1 / 2;
	grid-row: 22 / 23;
	padding-top: 25px;
}
.r22c2 {
	grid-column: 2 / 3;
	grid-row: 22 / 23;
}
.r22c3 {
	grid-column: 3 / 4;
	grid-row: 22 / 23;
}
.r22c4 {
	grid-column: 4 / 5;
	grid-row: 22 / 23;
}
.r22c5 {
	grid-column: 5 / 6;
	grid-row: 22 / 23;
}
.r22c6 {
	grid-column: 6 / 7;
	grid-row: 22 / 23;
}
.r22c7 {
	grid-column: 7 / 8;
	grid-row: 22 / 23;
}
.r22c8 {
	grid-column: 8 / 9;
	grid-row: 22 / 23;
}
/****************************************************************************************************************************************/
/*****			ROW 23, Employee 21																									*****/
/****************************************************************************************************************************************/
.r23c1 {
	grid-column: 1 / 2;
	grid-row: 23 / 24;
	padding-top: 25px;
}
.r23c2 {
	grid-column: 2 / 3;
	grid-row: 23 / 24;
}
.r23c3 {
	grid-column: 3 / 4;
	grid-row: 23 / 24;
}
.r23c4 {
	grid-column: 4 / 5;
	grid-row: 23 / 24;
}
.r23c5 {
	grid-column: 5 / 6;
	grid-row: 23 / 24;
}
.r23c6 {
	grid-column: 6 / 7;
	grid-row: 23 / 24;
}
.r23c7 {
	grid-column: 7 / 8;
	grid-row: 23 / 24;
}
.r23c8 {
	grid-column: 8 / 9;
	grid-row: 23 / 24;
}
/****************************************************************************************************************************************/
/*****			ROW 24, Employee 22																									*****/
/****************************************************************************************************************************************/
.r24c1 {
	grid-column: 1 / 2;
	grid-row: 24 / 25;
	padding-top: 25px;
}
.r24c2 {
	grid-column: 2 / 3;
	grid-row: 24 / 25;
}
.r24c3 {
	grid-column: 3 / 4;
	grid-row: 24 / 25;
}
.r24c4 {
	grid-column: 4 / 5;
	grid-row: 24 / 25;
}
.r24c5 {
	grid-column: 5 / 6;
	grid-row: 24 / 25;
}
.r24c6 {
	grid-column: 6 / 7;
	grid-row: 24 / 25;
}
.r24c7 {
	grid-column: 7 / 8;
	grid-row: 24 / 25;
}
.r24c8 {
	grid-column: 8 / 9;
	grid-row: 24 / 25;
}
/****************************************************************************************************************************************/
/*****			ROW 25, Employee 23																									*****/
/****************************************************************************************************************************************/
.r25c1 {
	grid-column: 1 / 2;
	grid-row: 25 / 26;
	padding-top: 25px;
}
.r25c2 {
	grid-column: 2 / 3;
	grid-row: 25 / 26;
}
.r25c3 {
	grid-column: 3 / 4;
	grid-row: 25 / 26;
}
.r25c4 {
	grid-column: 4 / 5;
	grid-row: 25 / 26;
}
.r25c5 {
	grid-column: 5 / 6;
	grid-row: 25 / 26;
}
.r25c6 {
	grid-column: 6 / 7;
	grid-row: 25 / 26;
}
.r25c7 {
	grid-column: 7 / 8;
	grid-row: 25 / 26;
}
.r25c8 {
	grid-column: 8 / 9;
	grid-row: 25 / 26;
}
/****************************************************************************************************************************************/
/*****			ROW 26, Employee 24																									*****/
/****************************************************************************************************************************************/
.r26c1 {
	grid-column: 1 / 2;
	grid-row: 26 / 27;
	padding-top: 25px;
}
.r26c2 {
	grid-column: 2 / 3;
	grid-row: 26 / 27;
}
.r26c3 {
	grid-column: 3 / 4;
	grid-row: 26 / 27;
}
.r26c4 {
	grid-column: 4 / 5;
	grid-row: 26 / 27;
}
.r26c5 {
	grid-column: 5 / 6;
	grid-row: 26 / 27;
}
.r26c6 {
	grid-column: 6 / 7;
	grid-row: 26 / 27;
}
.r26c7 {
	grid-column: 7 / 8;
	grid-row: 26 / 27;
}
.r26c8 {
	grid-column: 8 / 9;
	grid-row: 26 / 27;
}
/****************************************************************************************************************************************/
/*****			ROW 27, Employee 25																									*****/
/****************************************************************************************************************************************/
.r27c1 {
	grid-column: 1 / 2;
	grid-row: 27 / 28;
	padding-top: 25px;
}
.r27c2 {
	grid-column: 2 / 3;
	grid-row: 27 / 28;
}
.r27c3 {
	grid-column: 3 / 4;
	grid-row: 27 / 28;
}
.r27c4 {
	grid-column: 4 / 5;
	grid-row: 27 / 28;
}
.r27c5 {
	grid-column: 5 / 6;
	grid-row: 27 / 28;
}
.r27c6 {
	grid-column: 6 / 7;
	grid-row: 27 / 28;
}
.r27c7 {
	grid-column: 7 / 8;
	grid-row: 27 / 28;
}
.r27c8 {
	grid-column: 8 / 9;
	grid-row: 27 / 28;
}
/****************************************************************************************************************************************/
/*****			ROW 28, Employee 26																									*****/
/****************************************************************************************************************************************/
.r28c1 {
	grid-column: 1 / 2;
	grid-row: 28 / 29;
	padding-top: 25px;
}
.r28c2 {
	grid-column: 2 / 3;
	grid-row: 28 / 29;
}
.r28c3 {
	grid-column: 3 / 4;
	grid-row: 28 / 29;
}
.r28c4 {
	grid-column: 4 / 5;
	grid-row: 28 / 29;
}
.r28c5 {
	grid-column: 5 / 6;
	grid-row: 28 / 29;
}
.r28c6 {
	grid-column: 6 / 7;
	grid-row: 28 / 29;
}
.r28c7 {
	grid-column: 7 / 8;
	grid-row: 28 / 29;
}
.r28c8 {
	grid-column: 8 / 9;
	grid-row: 28 / 29;
}
/****************************************************************************************************************************************/
/*****			ROW 29, Employee 27																									*****/
/****************************************************************************************************************************************/
.r29c1 {
	grid-column: 1 / 2;
	grid-row: 29 / 30;
	padding-top: 25px;
}
.r29c2 {
	grid-column: 2 / 3;
	grid-row: 29 / 30;
}
.r29c3 {
	grid-column: 3 / 4;
	grid-row: 29 / 30;
}
.r29c4 {
	grid-column: 4 / 5;
	grid-row: 29 / 30;
}
.r29c5 {
	grid-column: 5 / 6;
	grid-row: 29 / 30;
}
.r29c6 {
	grid-column: 6 / 7;
	grid-row: 29 / 30;
}
.r29c7 {
	grid-column: 7 / 8;
	grid-row: 29 / 30;
}
.r29c8 {
	grid-column: 8 / 9;
	grid-row: 29 / 30;
}
/****************************************************************************************************************************************/
/*****			ROW 30, Employee 28																									*****/
/****************************************************************************************************************************************/
.r30c1 {
	grid-column: 1 / 2;
	grid-row:30 / 31;
	padding-top: 25px;
}
.r30c2 {
	grid-column: 2 / 3;
	grid-row:30 / 31;
}
.r30c3 {
	grid-column: 3 / 4;
	grid-row:30 / 31;
}
.r30c4 {
	grid-column: 4 / 5;
	grid-row:30 / 31;
}
.r30c5 {
	grid-column: 5 / 6;
	grid-row:30 / 31;
}
.r30c6 {
	grid-column: 6 / 7;
	grid-row:30 / 31;
}
.r30c7 {
	grid-column: 7 / 8;
	grid-row:30 / 31;
}
.r30c8 {
	grid-column: 8 / 9;
	grid-row:30 / 31;
}
/****************************************************************************************************************************************/
/*****			ROW 31, Employee 29																									*****/
/****************************************************************************************************************************************/
.r31c1 {
	grid-column: 1 / 2;
	grid-row:31 /32;
	padding-top: 25px;
}
.r31c2 {
	grid-column: 2 / 3;
	grid-row:31 /32;
}
.r31c3 {
	grid-column: 3 / 4;
	grid-row:31 /32;
}
.r31c4 {
	grid-column: 4 / 5;
	grid-row:31 /32;
}
.r31c5 {
	grid-column: 5 / 6;
	grid-row:31 /32;
}
.r31c6 {
	grid-column: 6 / 7;
	grid-row:31 /32;
}
.r31c7 {
	grid-column: 7 / 8;
	grid-row:31 /32;
}
.r31c8 {
	grid-column: 8 / 9;
	grid-row:31 /32;
}
/****************************************************************************************************************************************/
/*****			ROW 32, Employee 30																									*****/
/****************************************************************************************************************************************/
.r32c1 {
	grid-column: 1 / 2;
	grid-row:32 / 33;
	padding-top: 25px;
}
.r32c2 {
	grid-column: 2 / 3;
	grid-row:32 / 33;
}
.r32c3 {
	grid-column: 3 / 4;
	grid-row:32 / 33;
}
.r32c4 {
	grid-column: 4 / 5;
	grid-row:32 / 33;
}
.r32c5 {
	grid-column: 5 / 6;
	grid-row:32 / 33;
}
.r32c6 {
	grid-column: 6 / 7;
	grid-row:32 / 33;
}
.r32c7 {
	grid-column: 7 / 8;
	grid-row:32 / 33;
}
.r32c8 {
	grid-column: 8 / 9;
	grid-row:32 / 33;
}
/****************************************************************************************************************************************/
/*****			ROW 33, Employee 31																									*****/
/****************************************************************************************************************************************/
.r33c1 {
	grid-column: 1 / 2;
	grid-row:33 / 34;
	padding-top: 25px;
}
.r33c2 {
	grid-column: 2 / 3;
	grid-row:33 / 34;
}
.r33c3 {
	grid-column: 3 / 4;
	grid-row:33 / 34;
}
.r33c4 {
	grid-column: 4 / 5;
	grid-row:33 / 34;
}
.r33c5 {
	grid-column: 5 / 6;
	grid-row:33 / 34;
}
.r33c6 {
	grid-column: 6 / 7;
	grid-row:33 / 34;
}
.r33c7 {
	grid-column: 7 / 8;
	grid-row:33 / 34;
}
.r33c8 {
	grid-column: 8 / 9;
	grid-row:33 / 34;
}
/****************************************************************************************************************************************/
/*****			ROW 34, Employee 32																									*****/
/****************************************************************************************************************************************/
.r34c1 {
	grid-column: 1 / 2;
	grid-row:34 / 35;
	padding-top: 25px;
}
.r34c2 {
	grid-column: 2 / 3;
	grid-row:34 / 35;
}
.r34c3 {
	grid-column: 3 / 4;
	grid-row:34 / 35;
}
.r34c4 {
	grid-column: 4 / 5;
	grid-row:34 / 35;
}
.r34c5 {
	grid-column: 5 / 6;
	grid-row:34 / 35;
}
.r34c6 {
	grid-column: 6 / 7;
	grid-row:34 / 35;
}
.r34c7 {
	grid-column: 7 / 8;
	grid-row:34 / 35;
}
.r34c8 {
	grid-column: 8 / 9;
	grid-row:34 / 35;
}
/****************************************************************************************************************************************/
/*****			ROW 35, Employee 33																									*****/
/****************************************************************************************************************************************/
.r35c1 {
	grid-column: 1 / 2;
	grid-row:35 / 36;
	padding-top: 25px;
}
.r35c2 {
	grid-column: 2 / 3;
	grid-row:35 / 36;
}
.r35c3 {
	grid-column: 3 / 4;
	grid-row:35 / 36;
}
.r35c4 {
	grid-column: 4 / 5;
	grid-row:35 / 36;
}
.r35c5 {
	grid-column: 5 / 6;
	grid-row:35 / 36;
}
.r35c6 {
	grid-column: 6 / 7;
	grid-row:35 / 36;
}
.r35c7 {
	grid-column: 7 / 8;
	grid-row:35 / 36;
}
.r35c8 {
	grid-column: 8 / 9;
	grid-row:35 / 36;
}
/****************************************************************************************************************************************/
/*****			ROW 36, Employee 34																									*****/
/****************************************************************************************************************************************/
.r36c1 {
	grid-column: 1 / 2;
	grid-row:36 / 37;
	padding-top: 25px;
}
.r36c2 {
	grid-column: 2 / 3;
	grid-row:36 / 37;
}
.r36c3 {
	grid-column: 3 / 4;
	grid-row:36 / 37;
}
.r36c4 {
	grid-column: 4 / 5;
	grid-row:36 / 37;
}
.r36c5 {
	grid-column: 5 / 6;
	grid-row:36 / 37;
}
.r36c6 {
	grid-column: 6 / 7;
	grid-row:36 / 37;
}
.r36c7 {
	grid-column: 7 / 8;
	grid-row:36 / 37;
}
.r36c8 {
	grid-column: 8 / 9;
	grid-row:36 / 37;
}
/****************************************************************************************************************************************/
/*****			ROW 37, Employee 35																									*****/
/****************************************************************************************************************************************/
.r37c1 {
	grid-column: 1 / 2;
	grid-row:37 / 38;
	padding-top: 25px;
}
.r37c2 {
	grid-column: 2 / 3;
	grid-row:37 / 38;
}
.r37c3 {
	grid-column: 3 / 4;
	grid-row:37 / 38;
}
.r37c4 {
	grid-column: 4 / 5;
	grid-row:37 / 38;
}
.r37c5 {
	grid-column: 5 / 6;
	grid-row:37 / 38;
}
.r37c6 {
	grid-column: 6 / 7;
	grid-row:37 / 38;
}
.r37c7 {
	grid-column: 7 / 8;
	grid-row:37 / 38;
}
.r37c8 {
	grid-column: 8 / 9;
	grid-row:37 / 38;
}
/****************************************************************************************************************************************/
/*****			ROW 38, Employee 36																									*****/
/****************************************************************************************************************************************/
.r38c1 {
	grid-column: 1 / 2;
	grid-row:38 / 39;
	padding-top: 25px;
}
.r38c2 {
	grid-column: 2 / 3;
	grid-row:38 / 39;
}
.r38c3 {
	grid-column: 3 / 4;
	grid-row:38 / 39;
}
.r38c4 {
	grid-column: 4 / 5;
	grid-row:38 / 39;
}
.r38c5 {
	grid-column: 5 / 6;
	grid-row:38 / 39;
}
.r38c6 {
	grid-column: 6 / 7;
	grid-row:38 / 39;
}
.r38c7 {
	grid-column: 7 / 8;
	grid-row:38 / 39;
}
.r38c8 {
	grid-column: 8 / 9;
	grid-row:38 / 39;
}
/****************************************************************************************************************************************/
/*****			ROW 39, Employee 37																									*****/
/****************************************************************************************************************************************/
.r39c1 {
	grid-column: 1 / 2;
	grid-row:39 / 40;
	padding-top: 25px;
}
.r39c2 {
	grid-column: 2 / 3;
	grid-row:39 / 40;
}
.r39c3 {
	grid-column: 3 / 4;
	grid-row:39 / 40;
}
.r39c4 {
	grid-column: 4 / 5;
	grid-row:39 / 40;
}
.r39c5 {
	grid-column: 5 / 6;
	grid-row:39 / 40;
}
.r39c6 {
	grid-column: 6 / 7;
	grid-row:39 / 40;
}
.r39c7 {
	grid-column: 7 / 8;
	grid-row:39 / 40;
}
.r39c8 {
	grid-column: 8 / 9;
	grid-row:39 / 40;
}
/****************************************************************************************************************************************/
/*****			ROW 40, Employee 38																									*****/
/****************************************************************************************************************************************/
.r40c1 {
	grid-column: 1 / 2;
	grid-row:40 / 41;
	padding-top: 25px;
}
.r40c2 {
	grid-column: 2 / 3;
	grid-row:40 / 41;
}
.r40c3 {
	grid-column: 3 / 4;
	grid-row:40 / 41;
}
.r40c4 {
	grid-column: 4 / 5;
	grid-row:40 / 41;
}
.r40c5 {
	grid-column: 5 / 6;
	grid-row:40 / 41;
}
.r40c6 {
	grid-column: 6 / 7;
	grid-row:40 / 41;
}
.r40c7 {
	grid-column: 7 / 8;
	grid-row:40 / 41;
}
.r40c8 {
	grid-column: 8 / 9;
	grid-row:40 / 41;
}
/****************************************************************************************************************************************/
/*****			ROW 41, Employee 39																									*****/
/****************************************************************************************************************************************/
.r41c1 {
	grid-column: 1 / 2;
	grid-row: 41 / 42;
	padding-top: 25px;
}
.r41c2 {
	grid-column: 2 / 3;
	grid-row: 41 / 42;
}
.r41c3 {
	grid-column: 3 / 4;
	grid-row: 41 / 42;
}
.r41c4 {
	grid-column: 4 / 5;
	grid-row: 41 / 42;
}
.r41c5 {
	grid-column: 5 / 6;
	grid-row: 41 / 42;
}
.r41c6 {
	grid-column: 6 / 7;
	grid-row: 41 / 42;
}
.r41c7 {
	grid-column: 7 / 8;
	grid-row: 41 / 42;
}
.r41c8 {
	grid-column: 8 / 9;
	grid-row: 41 / 42;
}
/****************************************************************************************************************************************/
/*****			ROW 42, Employee 40																									*****/
/****************************************************************************************************************************************/
.r42c1 {
	grid-column: 1 / 2;
	grid-row: 42 / 43;
	padding-top: 25px;
}
.r42c2 {
	grid-column: 2 / 3;
	grid-row: 42 / 43;
}
.r42c3 {
	grid-column: 3 / 4;
	grid-row: 42 / 43;
}
.r42c4 {
	grid-column: 4 / 5;
	grid-row: 42 / 43;
}
.r42c5 {
	grid-column: 5 / 6;
	grid-row: 42 / 43;
}
.r42c6 {
	grid-column: 6 / 7;
	grid-row: 42 / 43;
}
.r42c7 {
	grid-column: 7 / 8;
	grid-row: 42 / 43;
}
.r42c8 {
	grid-column: 8 / 9;
	grid-row: 42 / 43;
}
/****************************************************************************************************************************************/
/*****			ROW 43, Employee 41																									*****/
/****************************************************************************************************************************************/
.r43c1 {
	grid-column: 1 / 2;
	grid-row: 43 / 44;
	padding-top: 25px;
}
.r43c2 {
	grid-column: 2 / 3;
	grid-row: 43 / 44;
}
.r43c3 {
	grid-column: 3 / 4;
	grid-row: 43 / 44;
}
.r43c4 {
	grid-column: 4 / 5;
	grid-row: 43 / 44;
}
.r43c5 {
	grid-column: 5 / 6;
	grid-row: 43 / 44;
}
.r43c6 {
	grid-column: 6 / 7;
	grid-row: 43 / 44;
}
.r43c7 {
	grid-column: 7 / 8;
	grid-row: 43 / 44;
}
.r43c8 {
	grid-column: 8 / 9;
	grid-row: 43 / 44;
}
/****************************************************************************************************************************************/
/*****			ROW 44, Employee 42																									*****/
/****************************************************************************************************************************************/
.r44c1 {
	grid-column: 1 / 2;
	grid-row: 44 / 45;
	padding-top: 25px;
}
.r44c2 {
	grid-column: 2 / 3;
	grid-row: 44 / 45;
}
.r44c3 {
	grid-column: 3 / 4;
	grid-row: 44 / 45;
}
.r44c4 {
	grid-column: 4 / 5;
	grid-row: 44 / 45;
}
.r44c5 {
	grid-column: 5 / 6;
	grid-row: 44 / 45;
}
.r44c6 {
	grid-column: 6 / 7;
	grid-row: 44 / 45;
}
.r44c7 {
	grid-column: 7 / 8;
	grid-row: 44 / 45;
}
.r44c8 {
	grid-column: 8 / 9;
	grid-row: 44 / 45;
}
/****************************************************************************************************************************************/
/*****			ROW 45, Employee 43																									*****/
/****************************************************************************************************************************************/
.r45c1 {
	grid-column: 1 / 2;
	grid-row: 45 / 46;
	padding-top: 25px;
}
.r45c2 {
	grid-column: 2 / 3;
	grid-row: 45 / 46;
}
.r45c3 {
	grid-column: 3 / 4;
	grid-row: 45 / 46;
}
.r45c4 {
	grid-column: 4 / 5;
	grid-row: 45 / 46;
}
.r45c5 {
	grid-column: 5 / 6;
	grid-row: 45 / 46;
}
.r45c6 {
	grid-column: 6 / 7;
	grid-row: 45 / 46;
}
.r45c7 {
	grid-column: 7 / 8;
	grid-row: 45 / 46;
}
.r45c8 {
	grid-column: 8 / 9;
	grid-row: 45 / 46;
}
/****************************************************************************************************************************************/
/*****			ROW 46, Employee 44																									*****/
/****************************************************************************************************************************************/
.r46c1 {
	grid-column: 1 / 2;
	grid-row: 46 / 47;
	padding-top: 25px;
}
.r46c2 {
	grid-column: 2 / 3;
	grid-row: 46 / 47;
}
.r46c3 {
	grid-column: 3 / 4;
	grid-row: 46 / 47;
}
.r46c4 {
	grid-column: 4 / 5;
	grid-row: 46 / 47;
}
.r46c5 {
	grid-column: 5 / 6;
	grid-row: 46 / 47;
}
.r46c6 {
	grid-column: 6 / 7;
	grid-row: 46 / 47;
}
.r46c7 {
	grid-column: 7 / 8;
	grid-row: 46 / 47;
}
.r46c8 {
	grid-column: 8 / 9;
	grid-row: 46 / 47;
}
/****************************************************************************************************************************************/
/*****			ROW 47, Employee 45																									*****/
/****************************************************************************************************************************************/
.r47c1 {
	grid-column: 1 / 2;
	grid-row: 47 / 48;
	padding-top: 25px;
}
.r47c2 {
	grid-column: 2 / 3;
	grid-row: 47 / 48;
}
.r47c3 {
	grid-column: 3 / 4;
	grid-row: 47 / 48;
}
.r47c4 {
	grid-column: 4 / 5;
	grid-row: 47 / 48;
}
.r47c5 {
	grid-column: 5 / 6;
	grid-row: 47 / 48;
}
.r47c6 {
	grid-column: 6 / 7;
	grid-row: 47 / 48;
}
.r47c7 {
	grid-column: 7 / 8;
	grid-row: 47 / 48;
}
.r47c8 {
	grid-column: 8 / 9;
	grid-row: 47 / 48;
}
/****************************************************************************************************************************************/
/*****			ROW 48, Employee 46																									*****/
/****************************************************************************************************************************************/
.r48c1 {
	grid-column: 1 / 2;
	grid-row: 48 / 49;
	padding-top: 25px;
}
.r48c2 {
	grid-column: 2 / 3;
	grid-row: 48 / 49;
}
.r48c3 {
	grid-column: 3 / 4;
	grid-row: 48 / 49;
}
.r48c4 {
	grid-column: 4 / 5;
	grid-row: 48 / 49;
}
.r48c5 {
	grid-column: 5 / 6;
	grid-row: 48 / 49;
}
.r48c6 {
	grid-column: 6 / 7;
	grid-row: 48 / 49;
}
.r48c7 {
	grid-column: 7 / 8;
	grid-row: 48 / 49;
}
.r48c8 {
	grid-column: 8 / 9;
	grid-row: 48 / 49;
}
/****************************************************************************************************************************************/
/*****			ROW 49, Employee 47																									*****/
/****************************************************************************************************************************************/
.r49c1 {
	grid-column: 1 / 2;
	grid-row: 49 / 50;
	padding-top: 25px;
}
.r49c2 {
	grid-column: 2 / 3;
	grid-row: 49 / 50;
}
.r49c3 {
	grid-column: 3 / 4;
	grid-row: 49 / 50;
}
.r49c4 {
	grid-column: 4 / 5;
	grid-row: 49 / 50;
}
.r49c5 {
	grid-column: 5 / 6;
	grid-row: 49 / 50;
}
.r49c6 {
	grid-column: 6 / 7;
	grid-row: 49 / 50;
}
.r49c7 {
	grid-column: 7 / 8;
	grid-row: 49 / 50;
}
.r49c8 {
	grid-column: 8 / 9;
	grid-row: 49 / 50;
}
/****************************************************************************************************************************************/
/*****			ROW 50, Employee 48																									*****/
/****************************************************************************************************************************************/
.r50c1 {
	grid-column: 1 / 2;
	grid-row: 50 / 51;
	padding-top: 25px;
}
.r50c2 {
	grid-column: 2 / 3;
	grid-row: 50 / 51;
}
.r50c3 {
	grid-column: 3 / 4;
	grid-row: 50 / 51;
}
.r50c4 {
	grid-column: 4 / 5;
	grid-row: 50 / 51;
}
.r50c5 {
	grid-column: 5 / 6;
	grid-row: 50 / 51;
}
.r50c6 {
	grid-column: 6 / 7;
	grid-row: 50 / 51;
}
.r50c7 {
	grid-column: 7 / 8;
	grid-row: 50 / 51;
}
.r50c8 {
	grid-column: 8 / 9;
	grid-row: 50 / 51;
}
/****************************************************************************************************************************************/
/*****			ROW 51, Employee 49																									*****/
/****************************************************************************************************************************************/
.r51c1 {
	grid-column: 1 / 2;
	grid-row: 51 / 52;
	padding-top: 25px;
}
.r51c2 {
	grid-column: 2 / 3;
	grid-row: 51 / 52;
}
.r51c3 {
	grid-column: 3 / 4;
	grid-row: 51 / 52;
}
.r51c4 {
	grid-column: 4 / 5;
	grid-row: 51 / 52;
}
.r51c5 {
	grid-column: 5 / 6;
	grid-row: 51 / 52;
}
.r51c6 {
	grid-column: 6 / 7;
	grid-row: 51 / 52;
}
.r51c7 {
	grid-column: 7 / 8;
	grid-row: 51 / 52;
}
.r51c8 {
	grid-column: 8 / 9;
	grid-row: 51 / 52;
}
/****************************************************************************************************************************************/
/*****			ROW 52, Employee 50																									*****/
/****************************************************************************************************************************************/
.r52c1 {
	grid-column: 1 / 2;
	grid-row: 52 / 53;
	padding-top: 25px;
}
.r52c2 {
	grid-column: 2 / 3;
	grid-row: 52 / 53;
}
.r52c3 {
	grid-column: 3 / 4;
	grid-row: 52 / 53;
}
.r52c4 {
	grid-column: 4 / 5;
	grid-row: 52 / 53;
}
.r52c5 {
	grid-column: 5 / 6;
	grid-row: 52 / 53;
}
.r52c6 {
	grid-column: 6 / 7;
	grid-row: 52 / 53;
}
.r52c7 {
	grid-column: 7 / 8;
	grid-row: 52 / 53;
}
.r52c8 {
	grid-column: 8 / 9;
	grid-row: 52 / 53;
}
/****************************************************************************************************************************************/
/*****			ROW 53, Employee 51																									*****/
/****************************************************************************************************************************************/
.r53c1 {
	grid-column: 1 / 2;
	grid-row: 53 / 54;
	padding-top: 25px;
}
.r53c2 {
	grid-column: 2 / 3;
	grid-row: 53 / 54;
}
.r53c3 {
	grid-column: 3 / 4;
	grid-row: 53 / 54;
}
.r53c4 {
	grid-column: 4 / 5;
	grid-row: 53 / 54;
}
.r53c5 {
	grid-column: 5 / 6;
	grid-row: 53 / 54;
}
.r53c6 {
	grid-column: 6 / 7;
	grid-row: 53 / 54;
}
.r53c7 {
	grid-column: 7 / 8;
	grid-row: 53 / 54;
}
.r53c8 {
	grid-column: 8 / 9;
	grid-row: 53 / 54;
}
/****************************************************************************************************************************************/
/*****			ROW 54, Employee 52																									*****/
/****************************************************************************************************************************************/
.r54c1 {
	grid-column: 1 / 2;
	grid-row: 54 / 55;
	padding-top: 25px;
}
.r54c2 {
	grid-column: 2 / 3;
	grid-row: 54 / 55;
}
.r54c3 {
	grid-column: 3 / 4;
	grid-row: 54 / 55;
}
.r54c4 {
	grid-column: 4 / 5;
	grid-row: 54 / 55;
}
.r54c5 {
	grid-column: 5 / 6;
	grid-row: 54 / 55;
}
.r54c6 {
	grid-column: 6 / 7;
	grid-row: 54 / 55;
}
.r54c7 {
	grid-column: 7 / 8;
	grid-row: 54 / 55;
}
.r54c8 {
	grid-column: 8 / 9;
	grid-row: 54 / 55;
}
/****************************************************************************************************************************************/
/*****			ROW 35, Superintendent Approval																									*****/
/****************************************************************************************************************************************/
.r55c1 {
	grid-column: 1 / 2;
	grid-row: 15 / 16;
	padding-top: 25px;
}
.r55c2 {
	grid-column: 2 / span 7;
	grid-row: 15 / 16;
    text-align: right;
    padding-top: 40px;
}